%form.container.user-new{action: ""}
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            .user-name.col-md-10
              .field
                = f.label :name
                %br
                = f.text_field :name, placeholder: "Name", autofocus: true
            .user-image.col-md-2
              =button_tag.btn.btn-primary
              Add image
              = f.file_field :avatar
          .field
            .user-email
              = f.label :email
              = f.email_field :email, placeholder: "E-Mail"
            .user-password
              = f.label :password
              %if @minimum_password_length
              %em
                = @minimum_password_length
                  "characters minimum"
                %br
              = f.password_field :password, placeholder: "Password", autocomplete: "off"
              = f.label :password_confirmation
              %br
              = f.password_field :password_confirmation, autocomplete: "off"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.label :group
              = f.text_field :group, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.label :profile
              = f.text_area :profile, name: "textarea", cols: "30", rows: "4", placeholder: "Profile"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.label :work
              = f.text_area :works, name: "textarea", cols: "30", rows: "4", placeholder: "Works"
      .row.text-center.user-btn
        = f.button.btn.btn-lg.btn-primary.btn-block
      .actions
        = f.submit "Sign up"
  = render "devise/shared/links"
