.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to image_tag(@user.avatar, alt: '64x64', size: "64x64", class: 'media-object' ), user_path(@user)
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @prototypes.count
            %i Projects
        .proto-user
          %span.degree we-b inc. Designer
        .row
          .col-md-6
            %h4 Profile
            = @user.profile
          .col-md-6
            %h4 Works
            = @user.works

.container.proto-list
  .row
    = render @prototypes, partial: 'prototypes/prototype'


.text-center
  %ul.pagination
    %nav.pagination
      %li.disabled
        = link_to '#', aria: { label: "Previous" } do
          %span{ aria: { hidden: "true" }} «
      %li.active
        = link_to '#' do
          1
          %span.sr-only (current)
      %li
        = link_to '2', '#'
      %li
        = link_to '3', '#'
      %li
        = link_to '4', '#'
      %li
        = link_to '5', '#'
      %li
        = link_to '#', aria: { label: "Next" } do
          %span{ aria: { hidden: "true" }} »
